.yellow {
    color:yellow;
}
.blue {
    color:skyblue;
}
.green {
    color:green;
}
.orange {
    color:orange;
}

.WarningLight {
    position: absolute;
    top: 89%;
    left: 17.5%;
}

#notification {
    position:absolute;
    left: -0.58%;
    bottom:5%;
    margin: 1.12%;
    margin-left: 2%;
    width: 13.8%;
    padding:0px;
    border-style: solid;
    border-width: 0.3%;
    border-color: black;
    float:left;
    overflow:hidden;
    background: linear-gradient(to right, rgba(21, 23, 32, 0.9) 0%, rgba(21, 23, 32, 0.2) 100%);
    text-align: left;
    color:white;
    word-wrap: break-word

}

#notifTitle,#notifContent {
    margin:2px;
}

#fuel {
    position:absolute;
    left: -0.58%;
    top:93.3%;
    margin: 1.12%;
    margin-left: 2%;
    width: 6.9%;
    height: 1%;
    padding:0px;
    text-align: center;
    border-style: solid;
    border-width: 0.3%;
    border-color: black;
    float:left;
    background-color:#696969;
}
#nos {
    position:absolute;
    left: 121px;
    top:93.3%;
    margin: 1.12%;
    margin-left: 2%;
    width: 6.9%;
    height: 1%;
    padding:0px;
    text-align: center;
    border-style: solid;
    border-width: 0.3%;
    border-color: black;
    float:left;
    background-color:#696969;
}

#heal {
    position:absolute;
    left: -0.58%;
    top:94.7%;
    margin: 1.12%;
    margin-left: 2%;
    width: 13.8%;
    height: 1%;
    padding:0px;
    text-align: center;
    border-style: solid;
    border-width: 0.3%;
    border-color: black;
    float:left;
    background-color:#696969;
}
#food {
    position:absolute;
    left: -0.58%;
    top:96%;
    margin: 1.12%;
    margin-left: 2%;
    width: 6.9%;
    height: 1%;
    padding:0px;
    text-align: center;
    border-style: solid;
    border-width: 0.3%;
    border-color: black;
    background-color:#696969;
}
#water {
    position:absolute;
    left: -0.58%;
    top:96%;
    margin: 1.12%;
    left: 121px;
    margin-left: 2%;
    width: 6.9%;
    height: 1%;
    padding:0px;
    text-align: center;
    border-style: solid;
    border-width: 0.3%;
    border-color: black;
    background-color:#696969;
}
#box, #boxFood, #boxWater, #boxFuel, #boxNos {
    background: #12a402;
    width: 100%;
    height: 100%;
    transition: width 0.2s;
}

#boxWater {
    background: #0076ec;
}

#boxFood {
    background: #8f7759;
}

#boxNos {
    background: #7a00ec;
}

#boxFuel {
    background: #ffae00;
}

#compass {
    position:absolute;
    right: 2%;
    text-align: right;
    text-shadow: 2px 2px 0px #000000;
    top:71%;
    font-size:50px;
    color:white;
    font-weight: bold;
}

#change {
    position:absolute;
    right: 2%;
    text-align: right;
    text-shadow: 2px 2px 0px #000000;
    top:15%;
    font-size:30px;
    color:white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('img/accounts/bank.png');
    background-repeat: no-repeat;
    padding-left: 35px;  /* width of the image plus a little extra padding */
    background-position: 0% 55%; 

}

#cash {
    position:absolute;
    right: 2%;
    text-align: right;
    text-shadow: 2px 2px 0px #000000;
    top:10%;
    font-size:30px;
    color:white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('img/accounts/money.png');
    background-repeat: no-repeat;
    padding-left: 20px;  /* width of the image plus a little extra padding */
    background-position: 0% 55%; 
}


#street {
    position:absolute;
    right: 2%;
    text-align: right;
    text-shadow: 2px 2px 0px #000000;
    top: 82%;
    font-size:40px;
    color:#f7df58;
}

body {
    overflow:hidden;
    font-family: raleway;
}